﻿body .top-bar {
    background-color: red;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: brown;
        margin: auto;
        display: flex;
    }

        body .top-bar .main-bar .contact-left {
            width: 65%;
            background-color: blue;
            display: flex;
            justify-content: center;
            gap: 12px;
        }

        body .top-bar .main-bar .contact-right {
            width: 35%;
            background-color: yellow;
            display: flex;
            justify-content: center;
            gap: 12px;
        }

body .main-container {
    background-color: white;
}

    body.main-container.banner-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    body .main-container .control {
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    body .main-container .main-content {
        display: flex;
    }

        body .main-container .main-content .content-left {
            flex: 2;
            display: flex;
        }

            body .main-container .main-content .content-left .left {
                flex: 3;
                display: grid;
                grid-template: 10% 90%;
            }

            body .main-container .main-content .content-left .right {
                flex: 2;
                display: grid;
                grid-template: 10% 50% 40%;
            }

        body .main-container .main-content .content-right {
            flex: 1;
        }

            body .main-container .main-content .content-right .time-button {
                margin-right: 0; /*căn lề sang bên phải*/
            }
